/* suit폰트 cdn방식으로 import 이후 body에 적용 */
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SUIT', Arial, Helvetica, sans-serif;
}

/* 375px 이하에서 적용할 padding과 gutter(gap) 설정 */
@media (max-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gutter {
    gap: 12px;
  }
}
